/* ===== Base Styles ===== */
:root {
  --accent: #70cba8;
  --accent-dark: rgb(19, 119, 88);
  --accent-2: #e1dfe0;
  --bg: white;
  --text-dark: #222;
  --text-muted: #666;
  --radius: 40px;
  --max-width: 900px;
  --transition: 0.25s ease-in-out;
  --box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  --box-shadow-light: 0 4px 20px rgba(0, 0, 0, 0.2);
  --box-shadow-heavy: 0 6px 30px rgba(0, 0, 0, 0.8);
  --padding: 3vh 3vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

[id] {
  scroll-margin-top: 20vh;
}

body.fade-out {
  opacity: 0;
}

body.fade-in {
  opacity: 1;
}

body {
  /* font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif; */
  font-family: "Sansation", sans-serif;
  background: var(--bg);
  color: var(--text-dark);
  line-height: 1.6;
  padding: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* ===== Header ===== */
header {
  width: 100%;
  background: rgba(255, 255, 255, 0.8); /* semi-transparent for blur to show */
  backdrop-filter: blur(8px); /* the actual blur effect */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 10vh;
}

header a,
header h1 {
  text-decoration: none;
  color: var(--text-dark);
  font-size: 5vh;
  color: var(--accent);
  font-weight: 800;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

.logo {
  height: 10vh;
  width: auto;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-heavy);
  position: absolute;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

/* Navigation Styles */
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
}

nav a {
  text-decoration: none;
  color: var(--text-dark);
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  border-radius: var(--radius);
  transition: background-color var(--transition), color var(--transition);
  font-size: 1.2rem;
}

nav a:hover {
  color: var(--accent);
}

#free-quote {
  background: var(--accent-dark);
  color: white;
  padding: 1vh 2vw;
  border-radius: var(--radius);
  font-weight: bold;
  transition: background-color var(--transition), color var(--transition);
}

#free-quote:hover {
  background: var(--accent);
}

/* ===== Main Content ===== */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  padding: 10vh 0;
}

main h1 {
  font-size: 2rem;
  color: var(--accent);
}

main h2 {
  font-size: 4vh;
  color: var(--accent);
}

main p {
  color: var(--text-muted);
  font-size: 1.1rem;
}

/* ===== Mission ===== */

.landing-page {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.mission {
  max-height: 30vh;
  max-width: 50vw;
  border-radius: var(--radius);
  padding: var(--padding);
  box-shadow: var(--box-shadow-heavy);
  margin: auto;
  z-index: 10;
  /* background: rgb(19, 119, 88, 0.5); */
  background: rgba(255, 215, 0, 0.5);
  backdrop-filter: blur(20px);
  position: relative;
  top: 4vh;
}

.mission p {
  color: black;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.landing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 5vh;
}

.landing-buttons button {
  background: rgba(19, 119, 88, 0.6);
  color: white;
  border: none;
  padding: 2vh 2vw;
  border-radius: var(--radius);
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color var(--transition), color var(--transition);
  display: block;
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);
  font-weight: bold;
  font-style: italic;
}

.landing-buttons button:hover {
  background: var(--accent);
  color: white;
}

#landing-images {
  position: absolute; /* establish containing block */
  overflow: hidden; /* clip children */
  width: 100%;
  height: 90vh; /* or whatever this section should be */
  z-index: 0; /* create a stacking context */
  isolation: isolate; /* ensures z-index:-1 children don't escape */
}

.landing-image {
  height: 35vh;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-light);
  position: absolute;
  z-index: -1;
}

#landing-image-1 {
  left: 28%;
  top: 32%;
  transform: rotate(-10deg) translateX(-50%) translateY(-50%);
  z-index: 1;
  opacity: 0.7;
}

#landing-image-2 {
  left: 64%;
  top: 42%;
  transform: rotate(10deg) translateX(-50%) translateY(-50%);
  opacity: 0.7;
}

#landing-image-3 {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 83vh;
  z-index: 10;
  opacity: 0.95;
}

.scroll-down {
  font-size: 4vh;
  color: rgb(255, 215, 0);
  text-decoration: none;
  animation: bounce 1.5s infinite;
}

/* Arrow bounce animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5vh);
  }
  60% {
    transform: translateY(2.5vh);
  }
}

/* ===== Hours ===== */
.hours-service-section,
.giving-back {
  width: 100%;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hours-service-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

#hours-info,
#service-info {
  background-color: white;
  padding: var(--padding);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  opacity: 0.95;
  margin-top: -10vh;
  text-align: center;
  width: 42vw;
}

.hours-service-section img,
.giving-back img {
  max-height: 70vh;
  max-width: 90vw;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-light);
}

.hours-service-section ul,
.giving-back ul {
  list-style: none;
}

.hours-service-section li,
.giving-back li {
  margin-bottom: 1vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5vh;
}

.giving-back {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#giving-back-info {
  background-color: white;
  padding: var(--padding);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  opacity: 0.95;
  margin-top: -20vh;
  z-index: 10;
  width: 80vw;
}

/* ===== Free Quote ===== */
#contact-section {
  border-radius: var(--radius);
  max-width: 95vw;
  margin: 0;
  margin-top: 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.quote-title {
  background-color: white;
  border-radius: var(--radius);
  width: fit-content;
  padding: var(--padding);
  margin-top: -10vh;
  box-shadow: var(--box-shadow);
  z-index: 10;
}

#contact-section p {
  text-align: center;
  font-size: 1.1rem;
  color: var(--text-muted);
}

/* Left Side */
.quote-info img {
  width: 100%;
  border-radius: var();
  margin-bottom: 1rem;
}

.quote-info p {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.quote-info a {
  color: #222;
  font-weight: bold;
  text-decoration: underline;
}

.quote-note {
  background: #c3e9d0;
  padding: 1vh 2vw;
  border-radius: 10px;
  font-size: 1vw;
  text-align: center;
}

/* Right Side (Form) */
.quote-form {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  background-color: white;
  padding: 2vh 4vw;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  width: fit-content;
  justify-content: center;
  align-items: center;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1vw;
}

.form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.quote-form label {
  font-weight: bold;
  font-size: 0.9rem;
}

.quote-form input,
.quote-form textarea,
.quote-form select {
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background: #f7f5f4;
  font-size: 0.95rem;
}

.quote-form textarea {
  resize: vertical;
  min-height: 80px;
}

#zipcode-field {
  width: fit-content;
}

.quote-form button {
  background: var(--accent);
  color: white;
  padding: 0.9rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.quote-form button:hover {
  background: var(--accent-dark);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: white;
  padding: var(--padding);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  margin-right: -2vw;
  z-index: 10;
  width: fit-content;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: left;
  align-items: flex-start;
  padding: 1.5rem;
}

.contact-info li {
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.contact-info a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.contact-info img {
  max-width: 2.5rem;
}

/* ===== Footer ===== */
footer {
  background: white;
  color: black;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
  border-top: 1px solid #e9ecef;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.copyright {
  font-size: 0.9rem;
  color: var(--text-muted);
}
.footer-links {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  justify-content: center;
}

.footer-links img {
  max-height: 3vh;
}

/* ===== Our Crew ===== */

#our-crew-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
}

#our-crew-content h1 {
  font-size: 6vh;
  color: var(--accent);
  text-align: center;
}

.profile-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2vw;
  max-width: 95vw;
  width: 100%;
  margin: 5vh 2.5vw;
}

.profile-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  padding: var(--padding);
  gap: 2vw;
  transition: var(--transition);
  width: fit-content;
}

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 30vh; /* same as height for a perfect circle */
  height: 30vh;
  max-width: 20vw;
  max-height: 20vw;
  border-radius: 50%; /* makes it a circle */
  object-fit: cover; /* ensures the image fills the circle without distortion */
}

.profile-name {
  font-size: 2vw;
}

.profile-title {
  font-size: 1.5vw;
  color: var(--accent);
  margin-bottom: 1vh;
  margin: 0;
}

.profile-grid p {
  font-size: 1.1vw;
  color: var(--text-muted);
  text-align: left;
}

.profile-card:hover {
  box-shadow: var(--box-shadow-heavy);
}

.hamburger {
  font-size: 5vh;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 900px) {
  #landing-image-1,
  #landing-image-2 {
    display: none;
  }

  #landing-image-3 {
    height: 90vh;
  }

  .mission {
    width: 95vw;
    max-height: none;
    max-width: none;
  }

  .hours-service-section img,
  .giving-back img {
    max-width: 95vw;
    margin: 0;
  }

  .hours-service-info {
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    margin: 2vh 0;
    box-shadow: var(--box-shadow);
    padding: var(--padding);
    border-radius: var(--radius);
    background: white;
    opacity: 0.95;
    max-width: 95vw;
    margin-top: -5vh;
  }

  #hours-info,
  #service-info {
    margin-top: 0;
    text-align: center;
    width: 95vw;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }

  main {
    gap: 0;
    margin: 0 0;
  }

  #giving-back-info {
    width: 95vw;
    max-width: none;
    min-height: none;
    margin: 0;
    margin-top: -5vh;
    z-index: 10;
  }

  #contact-section {
    flex-direction: column-reverse;
    gap: 3vh;
  }

  .contact-info {
    width: 95vw;
    margin: 0;
  }

  .quote-form {
    width: 95vw;
    margin: 8vh 0;
  }

  #zipcode-field {
    max-width: 20vw;
  }

  .profile-grid {
    grid-template-columns: 1fr;
  }

  #our-crew-content {
    padding: 5vh 2.5vw;
  }

  .profile-grid {
    padding: 0;
    gap: 4vh;
  }

  .profile-card {
    width: 95vw;
    flex-direction: column;
  }

  .profile-image {
    width: 15vh;
    height: 15vh;
  }

  .profile-name {
    font-size: 8vw;
  }

  .profile-title {
    font-size: 4vw;
  }

  .profile-grid p {
    font-size: 3vw;
    text-align: center;
    margin: 0 2vw;
  }
}

@media (max-width: 1400px) {
  .hamburger {
    display: initial;
  }

  nav {
    display: none;
  }

  nav.show {
    display: initial;
    position: absolute;
    top: 11vh;
    right: 1vw;
  }

  nav ul {
    flex-direction: column;
    background: white;
    padding: var(--padding);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    align-items: flex-end;
    justify-content: center;
    opacity: 0.95;
  }

  header h1 {
    font-size: 3vh;
  }

  .logo {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    height: 6vh;
    margin-top: 2vh;
  }

  #header-logos {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    gap: 2vw;
    width: 100%;
  }
}
